  <div class="container">
    <div class="row nav-bar" >
      <div class="col-sm-3">
        <p><%= link_to 'HOME', root_path %></p>
      </div>
      <div class="col-sm-3">
        <p><%= link_to 'MEMBERSHIPS', memberships_path %></p>
      </div>
      <div class="col-sm-3">
        <p>GALLERY</p>
      </div>
      <div class="col-sm-3">
        <p>CONTACT</p>
      </div>
    </div>
    <br>
    <div class="row">
      <% @memberships.each do |membership| %>
      <div class="col-lg-4">
        <div class="well">
          <p class="well-text"><%= link_to membership.membership_type, membership_path(membership) %></p>
        </div>
      </div>
      <% end %>
    </div>

  </div>
