<% @memberships.each do |membership| %>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="well">
          <p><%= membership.membership_type %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
