<div class="jumbotron">
  <div class="row">
    <h1 class="header">Portland Print Studio</h1>
  </div>
</div>
<div class="container">
  <div class="row nav-bar" >
    <div class="col-sm-3">
      <p><%= link_to 'HOME', root_path %></p>
    </div>
    <div class="col-sm-3">
      <p><%= link_to 'MEMBERSHIPS', memberships_path %></p>
    </div>
    <div class="col-sm-3">
      <p>GALLERY</p>
    </div>
    <div class="col-sm-3">
      <p><%= link_to 'CONTACT', contacts_path %></p>
    </div>
  </div>
  <br>
  <p class="landing-message">The Portland Print Studio is a printmaking studio in SE Portland. Run by artists for artists. Our studio is equipped with all the printmaking tools your heart could desire. Check out our membership options to get your prints on the press today.</p>
</div>
