<div class="container">
  <div class="row nav-bar" >
    <div class="col-sm-4">
      <p><%= link_to 'HOME', root_path %></p>
    </div>
    <div class="col-sm-4">
      <p><%= link_to 'MEMBERSHIPS', memberships_path %></p>
    </div>
    <!-- <div class="col-sm-3">
      <p>GALLERY</p>
    </div> -->
    <div class="col-sm-4">
      <p><%= link_to 'CONTACT', contacts_path %></p>
    </div>
  </div>
  <br>
  <div class="jumbotron contact-photo">
  </div>
  <div class="contact-info">
    <p>2222 SE 22nd ST.</p>
    <p>PORTLAND, OR</p>
    <p>503.555.1234</p>
    <a href="">printpdx@email.com</a>
  </div>
</div>
