/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

.jumbotron
  text-align: center
  background-image: url('/assets/header.jpg')
  height: 500px
  background-repeat: no-repeat
  background-position: center
  color: darken(gray, 5)

.header
  letter-spacing: 17px

.landing-sign-in-out
  text-align: right
  margin-right: 6px

.landing-sign-out
  margin-left: 6px

.nav-bar
  letter-spacing: 4px
  text-align: center

.landing-message
  text-align: center
  font-size: 17px
  font-style: italic

.well
  text-align: center
  height: 400px
  background-image: url('/assets/well.jpg')
  background-position: center
  background-repeat: no-repeat
  background-color: white

.well-text
  font-size: 32px
  line-height: 55px
  letter-spacing: 2px

.membership-div
  text-align: center

.membership-info
  font-size: 17px
